<template>
  <div class="addItem">
    <input type="text" name="name" v-model="item.name" />
    <font-awesome-icon
      icon="plus-square"
      :class="[item.name ? 'active' : 'inactive', 'plus']"
      @click="addItem()"
    />
    <p v-if="added">Added</p>
  </div>
</template>
<script>
export default {
  data() {
    return {
      item: { name: "" },
      added: false,
    };
  },
  methods:{
      addItem(){
          if(this.item.name === ''){
              return;
          }
          axios.post('api/item/store',{
              item: this.item
          }).then(response =>{
              if(response.status===201){
                  this.item.name = ''
                  this.added = true;
                  this.$emit("reloadList");
                  // window.location.replace('/success')
              }
          }).catch(error=>{
              console.log(error);
          })
      }
  }
};
</script>
<style scoped>
.addItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  background: #f7f7ff;
  border: 0px;
  outline: none;
  padding: 5px;
  margin-right: 10px;
  width: 100%;
}
.plus{
    font-size: 20px;
}
.active{
    color: #00CE35;
}
.inactive{
    color: #999999;
}
</style>