<template>
  <div>
    <div v-for="(item, index) in items" :key="index">
      <list-item :item="item" class="item" @itemChanged="$emit('reloadList')"/>
    </div>
  </div>
</template>
<script>
import listItem from './listItem'
export default {
    props: ['items'],
    components:{
        listItem

    }
}
</script>
<style scoped>
.item {
  background: #d2e3eb ;
  padding: 5px;
  margin-top: 5px;
}
</style>